<div class="app-container">
    <button routerLink="/">Home</button>&nbsp;&nbsp;
    <button routerLink="/auth">Auth</button>&nbsp;&nbsp;
    <button routerLink="/dashboard">Dashboard</button>&nbsp;&nbsp;
    <button routerLink="/state-management">Subject vs Behavioral Subject</button>&nbsp;&nbsp;
    <button routerLink="/crud-app">Crud Application</button>&nbsp;&nbsp;
    <button routerLink="/http-api">HTTP API</button>&nbsp;&nbsp;
    <button routerLink="/http-request">HTTP Request</button>&nbsp;&nbsp;
    <button routerLink="/template-form">Form Template</button>&nbsp;&nbsp;
    <br />
    <router-outlet></router-outlet>
</div>
